<aside id="aside_plus" class="menu_inactivo" >
		<ul id="cajaCerrar">
			<li class="cajitaCerrar">
				<div class="linkCerrar"></div>
			</li>
			<li class="cajitaCerrar">
				<div class="linkCerrar"></div>
			</li>
			<li class="cajitaCerrar">
				<div class="linkCerrar"></div>
			</li>
		</ul>
		<div id="requests" style="display: block;">
			<h3>Solicitar un Proyecto</h3>
			<h4>Seamos socios</h4>
			<p>¿Tenes un proyecto en el que pueda ayudar? Estoy encantado en proporcionar una consulta gratuita a tu conveniencia. </p>
			<p>Sólo hay que rellenar el siguiente formulario, y estare en contacto tan pronto como sea posible.</p>
			<p class="required"><em class="required" title="Necesario">*</em> Requerido</p>
			<div>
				<div class="forms">
					<div class="item l">
						<input type="text" id="organizacion" required="true" placeholder="Organizacion"/>
					</div>
					<div class="item r">
						<span class="error asterisco"><em class="required" title="Campo necesario">*</em></span>
						<input type="text" id="rubro" required="true" placeholder="Rubro"/>
					</div>
					<div class="item l">
						<span class="error asterisco"><em class="required" title="Campo necesario">*</em></span>
						<input type="text" id="nombre" required="true" placeholder="Tu nombre"/>


					</div><div class="item r">

						<span class="error asterisco"><em class="required" title="Campo necesario">*</em></span>
						<input type="tel" id="tel" required="true" placeholder="Numero telefonico"/>

					</div>
					<div class="item ">
						<span class="error asterisco"><em class="required" title="Campo necesario">*</em></span>
						<input type="email" id="mail" required="true" placeholder="Tu e-mail"/>
					</div>
					<div class="item ">
						<input type="text" id="url" required="false" placeholder="URL"/>
					</div>
					<div class="type1 interested">Cuales servicios te interesan?<em class="required" title="servicios">*</em>
						<span class="sub">Multiselection</span>
					</div>
					<ul class="checks">
						<li>
							<div class="box-checkbox">
								<input type="checkbox" id="requestinterestedin1" >
								<label for="requestinterestedin1">Website</label>
							</div>
						</li>
						<li>
							<div class="box-checkbox">
								<input type="checkbox" id="requestinterestedin2" >
								<label for="requestinterestedin2">Braning</label>
							</div>
						</li>
						<li>
							<div class="box-checkbox">
								<input type="checkbox" id="requestinterestedin3" >
								<label for="requestinterestedin13">Marketing</label>
							</div>
						</li>
						<li>
							<div class="box-checkbox">
								<input type="checkbox" id="requestinterestedin4" >
								<label for="requestinterestedin4">App Mobile</label>
							</div>
						</li>
						<li>
							<div class="box-checkbox">
								<input type="checkbox" id="requestinterestedin5" >
								<label for="requestinterestedin5">UX/UI</label>
							</div>
						</li>
						<li>
							<div class="box-checkbox">
								<input type="checkbox" id="requestinterestedin6" >
								<label for="requestinterestedin6">M-Commerce</label>
							</div>
						</li>
						<li>
							<div class="box-checkbox">
								<input type="checkbox" id="requestinterestedin1" >
								<label for="requestinterestedin1">Responsive Design</label>
							</div>
						</li>

						<li>
							<div class="box-checkbox">
								<input type="checkbox" id="requestinterestedin1" >
								<label for="requestinterestedin1">Web Mobile</label>
							</div>
						</li>
						<li>
							<div class="box-checkbox">
								<input type="checkbox" id="requestinterestedin1" >
								<label for="requestinterestedin1">Cortos Publicitarios</label>
							</div>
						</li>
						<li>
							<div class="box-checkbox">
								<input type="checkbox" id="requestinterestedin1" >
								<label for="requestinterestedin1">Promocion Web</label>
							</div>
						</li>
						<li>
							<div class="box-checkbox">
								<input type="checkbox" id="requestinterestedin1" >
								<label for="requestinterestedin1">Infografia</label>
							</div>
						</li>
						<li>
							<div class="box-checkbox">
								<input type="checkbox" id="requestinterestedin1" >
								<label for="requestinterestedin1">Actualizacion de sitios web</label>
							</div>
						</li>
					</ul>
					<div class="item ">
						<div>
							<textarea name="message" id="message" cols="30" rows="2" placeholder="Describe brevemente tu proyecto"></textarea>
							<span class="error"></span>
						</div>
					</div>
					<div class="item l budget">
						<span class="type1">Presupuesto para tu proyecto?<em class="required" title="Required">*</em></span>
						<div class="ipselect">
							<select data-index="0">
								<option>$1,000.00 - $5,000.00</option>
								<option>$5,000.00- $15,000.00</option>
								<option>$15,000.00 - $30,000.00</option>
								<option>Mas de $50,000.00</option>
							</select>
						</div>
					</div>
					<div class="item r period">
						<span class="type1">Tiempo estimado de duracion del proyecto?<em class="required" title="Required">*</em></span>
						<div class="ipselect">
							<select data-index="1">
								<option>Lo necesito ahora!</option>
								<option>1-2 semanas</option>
								<option>2-4 Meses</option>
								<option>No hay prisa</option>
							</select>

						</div>
					</div>
					<div class="item ">
						<div class="iptext">
						  <label id="fileuploadlabel-request" data-uploaded="">
							<input type="file" id="fileuploadinput" >Upload
							<span>(PDF, Zip max 30MB)</span>
						  </label>
						</div>
					</div>
					<div class="item agree">
						<div class="ipcheck">
							<span class="before">✓</span>
							<input type="checkbox" id="requestprivacypolicy" value="0" data-setted="true">
							<label for="requestprivacypolicy">Acepto los términos de la	<a href="#privacypolicy" class="btn-full-layer-privacypolicy" data-eventadded="true">política de privacidad</a>  y estoy de acuerdo<em class="required" title="Required">*</em>
							</label>
						</div>
					</div>
					<p class="lastment">Gracias por considerarme para su próximo proyecto.
						Rellene este pequeño formulario y me pondre em contacto, dentro de dos días hábiles.</p>
					<div class="submit">
						<button type="button" class="button dark" data-icon="✓">Enviar formulario</button>
					</div>
					<!--<div class="share">
						<p>Compartir</p>
						<div class="shareicon">
							<a href="#" data-provider="Facebook" style="color: rgb(98, 98, 98);">
								<span>Compartir on Facebook</span>
							</a>
							<a href="#" data-provider="Twitter" style="color: rgb(98, 98, 98);">
								<span>Compartir on Twitter</span>
							</a>
							<a href="#" data-provider="Pinterest" style="color: rgb(98, 98, 98);">
								<span>Compartir on Pinterest</span>
							</a>
						</div>
					</div>-->
				</div>
			</div>
		</div>
	</aside>