<section id="buenas" >
			
		
		<article id="header">
			<div class='sub_header'>
				<!--<button type="button" id="openLogin" >ver login</button>-->
				<div class="nst revelde" id="superHeader">
					
					<p>Relevante y Eficaz Diseño Digital, de Comunicación y Marketing</p>
					<!--<p class="transform_p_header"><img src="css/img/ico-boton/logo3.png" alt="">Buenas...!</p><primer-component></primer-component>-->
					<div >
						<button id="cotizar" ng-click="mostrarPanelCotizacion($event)">
							Solicitar un proyecto
						</button>
					</div>
				</div>
				<div id="intro">
				  	<div class="nst">
						
						<h3>Artista de la tecnologia</h3>
						<figure>
							<img src="css/img/no-clickable/br.png" alt="Un sitio web moderno" />
						</figure>
						<p>Osea si tiene una pyme o cree que tiene algo que compartir en la web y quiere un sitio autoadminstrable, que no dependa de marcos que se vuelven un problema debido a actualizaciones o al agregar una nueva funcionalidad. Esta es su oportunidad de tener un sitio moderno y escalable.</p>
	                </div>
				</div>
				<div id="intro2">
				  <div class="nst">
				    <h3>Esenciales para comunicar y ahorrar tiempo</h3>
					<p>Hay para cada tipo de función o conjunto de funciones que necesitemos hacer para comunicarnos, hacer tareas, y en general para poder trabajar de forma mas productiva por internet y sin el (<small>la mayoria en el celular!</small>). Hay aplicaciones web para casi todo, desde alarmas, hasta editores de texto, o un carrito de compras.</p>
					
				  </div>
				</div>
				<div id="intro3">
				  <div class="nst">
					
					<h3>Ya que no tiene sentido una web sin una estrategia comercial. </h3>
					<figure>
						<img src="css/img/no-clickable/PLAN-DE-MARKETING.jpg" alt="" />
					</figure>
					<p>Con la web 2.0 nace la posibilidad de compartir información fácilmente gracias a las redes sociales y a las nuevas tecnologías de información que permiten el intercambio casi instantáneo de piezas que antes eran imposibles, como videos, gráfica, etc. Se comienza a usar internet no solo como medio para buscar información sino como comunidad, donde hay relaciones constantemente y feedback con los usuarios de diferentes partes del mundo.</p>
								
					
				  </div>	
				</div>	
			</div>
		<!-- <div><button type="button" onclick="moverScroll();"></button></div>
	 */-->
		</article>
	</section>