<section id="buenas" >
			
		
		<article id="header">
			<div class='sub_header'>
				<!--<button type="button" id="openLogin" >ver login</button>-->
				<div class="nst revelde" id="superHeader">
					
					<p>Relevante y eficaz diseño digital de comunicación y marketing</p>
					<!--<p class="transform_p_header"><img src="css/img/ico-boton/logo3.png" alt="">Buenas...!</p><primer-component></primer-component>-->
					<div >
						<button id="cotizar" ng-click="mostrarPanelCotizacion($event)">
							Solicitar un proyecto
						</button>
					</div>
				</div>
				<div id="intro">
				  	<div class="nst">
						
						<h3>Artista web</h3>
						
						<p>Sus clientes son lo mas importante para mi, por eso desarrollo interfaces simples, modernas, unicas, innovando y ofreciendo contenidos optimos para su pyme o emprendimiento.</p>
	                </div>
				</div>
				<div id="intro2">
				  <div class="nst">
				    <h3>Especialista en comercio electronico</h3>
					<p>Le ofrezco a mis clientes sitios web que se visualizan perfectamente en los dispostivos que se necesiten, obteniendo un mayor alcance para sus ventas, y con la mejor seguridad para que sus clientes se sientan  seguros al momento de comprar.</p>
					
				  </div>
				</div>
				<div id="intro3">
				  <div class="nst">
					
					<h3>Diseñador de estrategias</h3>
					
					<p>En esta nueva era tecnologica nace la posibilidad de compartir información fácilmente gracias a las redes sociales y a las nuevas tecnologías de información que permiten el intercambio casi instantáneo de piezas que antes eran imposibles, como videos, gráficos, etc. Asi, podemos exprimir internet como una comunidad y obtener retroalimentacion y sugerencias de los clientes y potenciales nuevos clientes.</p>
								
					
				  </div>	
				</div>	
			</div>
		<!-- <div><button type="button" onclick="moverScroll();"></button></div>
	 */-->
		</article>
	</section>