<article id="herramientas"  ng-controller="listarHabilidadesController"> 
	<div id="header-1">
		<div class="nst">
			<h2 >Herramientas</h2>
		</div>
	</div>	
	<div id='menu-habilidades'>
	    <nav>
			<ul>
				<li ng-repeat="x in habilidades">
					<a  href="#/herramientas/habilidades/{{x.id_habilidades}}" ng-class="{killsActive: x.estado==1, inactive: x.estado==0}" ng-click="something();" name="btnMenuHab" > 
						<em>
							{{x.nombre}}
						</em>
					</a>
				</li>
			</ul>
		</nav>
	</div>  
	<div id='ficha' >
	    <div id='descripcion'>	
			<div ng-controller="listarHerramientasController">
				<div class="one" ng-repeat="y in herramientas">
					<h4>{{y.nombre}}</h4>
					<h5>{{y.intro}}</h5>
					<p>{{y.descripcion}}</p>
				</div>
			</div>
		</div>
	</div>
 </article> 