<h1>{{ titulo }}</h1>

<a href="#/peliculas">Volver al listado</a>

<div>{{ estadoTexto }}</div>

<form ng-submit="grabar()">
    <div class="control-form">
        <label for="nombre" class="control-label">Título: </label>
        <input type="text" id="nombre" ng-model="pelicula.nombre" class="form-control">
    </div>
    <div class="control-form">
        <label for="genero" class="control-label">Género: </label>
        <input type="text" id="genero" ng-model="pelicula.genero" class="form-control">
    </div>
    <div class="control-form">
        <label for="precio" class="control-label">Precio: </label>
        <input type="text" id="precio" ng-model="pelicula.precio" class="form-control">
    </div>
    <div class="control-form">
        <label for="fecha" class="control-label">Fecha: </label>
        <input type="text" id="fecha" ng-model="pelicula.fecha" class="form-control">
    </div>
    <div class="control-form">
        <label for="descripcion" class="control-label">Descripción: </label>
        <textarea id="descripcion" ng-model="pelicula.descripcion" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary">Grabar</button>
</form>