/*
    MEDIA QUERY
*/
/* Smartphones (portrait and landscape) ----------- */
/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .sub_menu {
        background-color: pink;
    }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .sub_menu {
        background-color: green;
    }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .sub_menu {
        background-color: blue;
    }
}

/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .sub_menu {
        background-color: green;
    }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .sub_menu {
        background-color: blue;
    }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .sub_menu {
        background-color: pink;
    }
}

/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .sub_menu {
        background-color: red;
    }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .sub_menu {
        background-color: blue;
    }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .sub_menu {
        background-color: green;
    }
}

/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    .sub_menu {
        background-color: red;
    }
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .sub_menu {
        background-color: pink;
    }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .sub_menu {
        background-color: blue;
    }
}

/* ----------- Galaxy S3 ----------- */
/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
    .sub_header {
        background-color: red;
    }
}

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    .sub_header {
        background-color: red;
    }
}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
    .sub_header {
        background-color: red;
    }
}

/* ----------- Galaxy S4 ----------- */
/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .sub_header {
        background-color: red;
    }
}

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .sub_header {
        background-color: red;
    }
}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .sub_header {
        background-color: red;
    }
}

/* ----------- Galaxy S5 ----------- */
/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .sub_header {
        background-color: red;
    }
}

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .sub_header {
        background-color: red;
    }
}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .sub_header {
        background-color: red;
    }
}




/* Desktops and laptops ----------- */
/* ----------- Non-Retina Screens ----------- */
/*@media screen and (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1300px) and (min-device-width: 700px) {
    .sub_header {
        background-color: #01ff01;
    }
    .ochentoso{
        width: 80%;
    }
}
*/
/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .sub_header {
        background-color:green;
    }
}
@media only screen and (max-width: 1224px) and (min-width: 1050px){
    .sub_header{
        background: #202022 url(../img/no-clickable/slide.jpg) top -300px left 0 no-repeat fixed;
    }
     .ochentoso{
        width: 94%;
        margin-left: 80px;
    }
    .sub_header > div > p{
        padding-left: 40px;
        font-size: 2.9em;
        line-height: 129%;
        padding-bottom: 0;
    }
    btn-cotizar > div{
        margin: 37px auto;
    }
     btn-cotizar > div > button{
        padding: 11px 11px;
    }
}
@media only screen and (min-width: 1224px) {
    article#header > div.sub_header {
        background: #202022 url(../img/no-clickable/slide.jpg) top -300px left 0 no-repeat fixed;
    }
     .ochentoso{
        width: 94%;
        margin-left: 80px;
    }
    .nst{
        width: 100%;
    }
    section#buenas > article#header #intro2 p{
        width: 42%;
    }
    .nst >  figure > img {     
         width: 60%;
        position: absolute;
        top: 10%;
        right: -9em;  
        max-width: 1;
    }
    .sub_header > div.revelde > p{
        font-size:4em;
        width: 80%;
        line-height: 117%;
        padding: 61px 0 0 0;
        padding-left: 60px;
    }
    btn-cotizar > div > button#cotizar{
        padding: 12px;
    }
    #aside_plus{
        /* width: 1020px; */
    }
   
    section#buenas > article#header #intro3 > .nst {
        /* padding: 119px 0 46px 143px; */
        text-align: left;
    }
    
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1380px) {
    .sub_header {
        /* background: #fa9633; */
    }
    .ochentoso{
        width: 94.9%;
    }
    #aside_plus{
        width: 1020px;
    }
}
@media only screen and (min-width : 1600px) {
    .sub_header {
        background: #FF9800;
        background: #202022 url(../img/no-clickable/slide.jpg) no-repeat fixed;
    }
    .ochentoso{
        max-width: 100%;
    }
     .sub_header > div > p{
        font-size:5em;
    }
    .nst > h3 {
    font-size: 3.3em;
    }
    btn-cotizar > div > button#cotizar {
    padding: 12px 68px;
    }
    #aside_plus{
        width: 948px;
    }
}
@media only screen and (max-width: 1050px) {
   /* .ng-isolate-scope header > #content-menu > nav> ul.close{
        width: 100%!important;
        height: 4.46em;
        overflow: hidden;
        padding: 0;
        text-align: left;
        margin: 0px 0;
        padding-left: 64px;
    }
    .ng-isolate-scope header > #content-menu > nav> ul.close li{
        display: inline-block;
    }
     header > #content-menu >nav> ul.close >li:nth-child(1) {
       display: inline-block;
       width: 23%;
       vertical-align: top;
    }
       .close > li > h1 {
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
    }
      header > #content-menu >nav> ul.close >li:nth-child(1) {
       width: 93px;
    }
     .close > li:nth-child(2) {
       width: auto !important;
    }
    
    
    header > #content-menu > nav >ul > li> a{
       display: inline-block !important;
       background-color: #131313;
       background-image: none;
       text-indent: 0 !important;
       width: 100% !important;
       vertical-align: top;
       padding: 28px 28px;
    }
    header > #content-menu >nav >ul.close > li>a:hover, header > #content-menu > nav >ul.close > li> a.active{
      
      padding: 28px 28px;
    }
    header > #content-menu >nav >ul > li>a:hover{
     border: none;
     width: 62%;
     margin: 0 0px;
    
    }*/
     .sub_header {
        background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
    }
    .ochentoso{
        /* width: 100% !important; */
        transform: translate3d(0px, 0px, 0px);
        /* max-width: 100% !important; */
        margin-left: 62px;
        width: 92.67%;
    }
     .sub_header > div > p{
        font-size: 4em;
        padding: 0 0;
        width: 100%;
        padding: 36px 0;
        padding-left: 40px;
        line-height: 119%;
    }h1#logo,#header-1 > .nst > h2{
        padding-left: 56px;
    }
    #caja{
        display: block;
    }
    .sub_header > .nst{
        min-height: 445px;
        /* padding: 1px 35px; */
        width: 94%;
        /* font-size: 2vw; */
    }
    btn-cotizar > div > button#cotizar{
        padding: 10px 4px;
        font-size: 2em;
        width: 11em;
        left: 36px;
        /* right: 116%; */
        bottom: 4%;
    }
    .nst{
        padding: 67px 40px;
        margin-left: 0;
        /* padding: 1px 35px; */
        width: 38em;
        font-size: 0.8em;
    }
    div#intro3 > div {
    text-align: left;
    margin: 0;
    width: 86%;
    padding: 76px 40px;
    }
    btn-cotizar > div{
    padding: 0;
    }
    .nst > h3{
        font-size: 3em;
    }

    #aside_plus{
        width: 100%;
        padding: 0;
    }
     #requests{
        margin: 0;
    }
    body{
        /* font-size:0.8em; */
        background: white;
    }
    div.one{
        width:80%;
        margin: 50px 0px 0;
    }#descripcion > div{
        padding:10px 0;    }
    article#herramientas >#ficha #descripcion > div > div.one > p {
    text-align: left;
    color: #000000;
    line-height: 155%;
    padding: 49px 29px;
    /* background: white; */
    width: 88.9%;
    display: inline-block;
    margin: 0% 0;
    font-size: 1em;
    word-spacing: 3px;
    /* box-shadow: 7px 3px 50px rgba(0, 0, 0, 0.72); */
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    line-height: 160%;
    color: #6f6f6f;
}
   
}
/*@media only screen and (min-width: 1050px) {
     .sub_header {
        background: blue;
    }
}*/

/* ----------- iPad mini ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .sub_header {
         background: #202022 url(../img/no-clickable/slide_ipad.jpg) no-repeat;
         background: blue;
    }
    .ochentoso{
        width: 20%;
    }
   
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .sub_header {
         background: url(../img/no-clickable/slide_ipad.jpg) no-repeat;
      background: red;
    }
    .ochentoso{
        width: 20%;
    }
    
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .sub_header {
         background:url(../img/no-clickable/slide_ipad.jpg) no-repeat;
    }
    #aside_plus{
        width: 1020px;
    }
}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .sub_header {
         background: url(../img/no-clickable/slide_ipad.jpg) no-repeat;
     
    }
    .ochentoso{
        width: 20%;
    }
   
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .sub_header {
        background: url(../img/no-clickable/slide_ipad.jpg) no-repeat;
    }
    .ochentoso{
        width: 20%;
    }
    #aside_plus{
        width: 87%;
    }
    #requests{
        margin: 0 !important;
    }

}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .sub_header {
         background: url(../img/no-clickable/slide_ipad.jpg) no-repeat;
       background: gray;
    }
    .ochentoso{
        width: 20%;
    }
    #aside_plus{
        width: 1020px;
    }
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .sub_header {
        
         background-image:url(../img/no-clickable/slide_ipad.jpg);
         background:blue;
    }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .sub_header {
         background-image: url(../img/no-clickable/slide_ipad.jpg);
    }
     .ochentoso{
        width: 65%;
    }
    #aside_plus{
        width: 662px;
    }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .sub_header {
        background-image: url(../img/no-clickable/slide_ipad.jpg);
          
    }
     .ochentoso{
        width: 74%;
    }
    #aside_plus{
        width: 925px;
    }
}

/* ----------- Kindle Fire HD 7" ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) {
    sub_header {
         background:  url(../img/no-clickable/slide.jpg) no-repeat;
          background: #eee;
    }
}

/* Portrait */
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
    sub_header {
         background:url(../img/no-clickable/slide.jpg) no-repeat;
         
    }
}

/* Landscape */
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
    sub_header {
         background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
          background: orange;
    }
}

/* ----------- Kindle Fire HD 8.9" ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) {
    sub_header {
         background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
          background: aqumarine;
    }
}

/* Portrait */
@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
    sub_header {
         background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
          background: lightgray;
    }
}

/* Landscape */
@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
    sub_header {
         background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
          background: whitesmoke;
    }
}

/* ----------- Apple Watch ----------- */
@media (max-device-width: 42mm) and (min-device-width: 38mm) {
    .sub_header {
        background-color:aquamarine;
    }
}

/* ----------- Moto 360 Watch ----------- */
@media (max-device-width: 218px) and (max-device-height: 281px) {
    .sub_header {
        background-color:aquamarine;
    }
}
