/*
    MEDIA QUERY
*/
/* Smartphones (portrait and landscape) ----------- */
/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .sub_menu {
        background-color: pink;
    }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .sub_menu {
        background-color: green;
    }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .sub_menu {
        background-color: blue;
    }
}

/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .sub_menu {
        background-color: green;
    }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .sub_menu {
        background-color: blue;
    }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .sub_menu {
        background-color: pink;
    }
}

/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .sub_menu {
        background-color: red;
    }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .sub_menu {
        background-color: blue;
    }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .sub_menu {
        background-color: green;
    }
}

/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    .sub_menu {
        background-color: red;
    }
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .sub_menu {
        background-color: pink;
    }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .sub_menu {
        background-color: blue;
    }
}

/* ----------- Galaxy S3 ----------- */
/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
    .sub_header {
        background-color: red;
    }
}

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    .sub_header {
        background-color: red;
    }
}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
    .sub_header {
        background-color: red;
    }
}

/* ----------- Galaxy S4 ----------- */
/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .sub_header {
        background-color: red;
    }
}

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .sub_header {
        background-color: red;
    }
}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .sub_header {
        background-color: red;
    }
}

/* ----------- Galaxy S5 ----------- */
/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .sub_header {
        background-color: red;
    }
}

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .sub_header {
        background-color: red;
    }
}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .sub_header {
        background-color: red;
    }
}




/* Desktops and laptops ----------- */
/* ----------- Non-Retina Screens ----------- */
/*@media screen and (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1300px) and (min-device-width: 700px) {
    .sub_header {
        background-color: #01ff01;
    }
    .ochentoso{
        width: 80%;
    }
}
*/
/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .sub_header {
        background-color:green;
    }
}

@media only screen and (min-width : 1224px) {
    .sub_header {
        background: blue;
        background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
    }
     .ochentoso{
        width: 80%;
    }
    .sub_header > div > p{
        font-size:4em;
    }
    btn-cotizar > div > button#cotizar{
        padding: 12px;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1380px) {
    .sub_header {
        /* background: #fa9633; */
    }
    .ochentoso{
        width:80%;
    }
}
@media only screen and (min-width : 1600px) {
    .sub_header {
        background: #FF9800;
        background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
    }
    .ochentoso{
        width: 83%;
    }
     .sub_header > div > p{
        font-size:5em;
    }
    .nst > h3 {
    font-size: 3.3em;
    }
    btn-cotizar > div > button#cotizar {
    padding: 25px 20px;
}
}
@media only screen and (max-width: 1050px) {
     .sub_header {
        background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
    }
    .ochentoso{
        width: 65%;
    }
     .sub_header > div > p{
        font-size: 3em;
        padding: 0 0;
    }
    #caja{
        display: block;
    }
    .sub_header > .nst{
        min-height:300px;
    }
    btn-cotizar > div > button#cotizar{
        padding: 13px;
    }
    .nst{
        padding: 50px 0;
    }
    btn-cotizar > div{
        padding: 69px 0;
    }
    .nst > h3{
        font-size: 3em;
    }
   
}
/*@media only screen and (min-width: 1050px) {
     .sub_header {
        background: blue;
    }
}*/

/* ----------- iPad mini ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .sub_header {
         background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
         background: blue;
    }
    .ochentoso{
        width: 20%;
    }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .sub_header {
         background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
      background: red;
    }
    .ochentoso{
        width: 20%;
    }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .sub_header {
         background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
    }
}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .sub_header {
         background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
      background: green;
    }
    .ochentoso{
        width: 20%;
    }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .sub_header {
         background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
       background: pink;
    }
    .ochentoso{
        width: 20%;
    }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .sub_header {
         background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
       background: gray;
    }
    .ochentoso{
        width: 20%;
    }
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .sub_header {
         background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
          background: yellow;
    }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .sub_header {
         background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
    }
     .ochentoso{
        width: 65%;
    }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .sub_header {
         background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
          
    }
     .ochentoso{
        width: 74%;
    }
}

/* ----------- Kindle Fire HD 7" ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) {
    sub_header {
         background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
          background: #eee;
    }
}

/* Portrait */
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
    sub_header {
         background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
          background: coffe;
    }
}

/* Landscape */
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
    sub_header {
         background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
          background: orange;
    }
}

/* ----------- Kindle Fire HD 8.9" ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) {
    sub_header {
         background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
          background: aqumarine;
    }
}

/* Portrait */
@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
    sub_header {
         background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
          background: lightgray;
    }
}

/* Landscape */
@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
    sub_header {
         background: #202022 url(../img/no-clickable/slide.jpg) no-repeat;
          background: whitesmoke;
    }
}

/* ----------- Apple Watch ----------- */
@media (max-device-width: 42mm) and (min-device-width: 38mm) {
    .sub_header {
        background-color:aquamarine;
    }
}

/* ----------- Moto 360 Watch ----------- */
@media (max-device-width: 218px) and (max-device-height: 281px) {
    .sub_header {
        background-color:aquamarine;
    }
}
