<h1>Login</h1>

<form ng-submit="ingresar(user)">
    <div class="form-group">
        <label for="usuario" class="control-label">Usuario:</label>
        <input type="text" class="form-control" id="usuario" ng-model="user.usuario">
    </div>
    <div class="form-group">
        <label for="password" class="control-label">Password:</label>
        <input type="password" class="form-control" id="password" ng-model="user.password">
    </div>
    <button class="btn btn-primary">Ingresar</button>
</form>