
		<ul id="caja">
				<li class="cajita">
					<div class="link"></div>
				</li>
				<li class="cajita">
					<div class="link"></div>
				</li>
				<li class="cajita">
					<div class="link"></div>
				</li>
		</ul>
	<header>
		<div id="content-menu" class="desopaco">
			<nav>
				<ul>
					<li >
						
						<h1 class="h1" id="logo">
							<a href="#" title="hola mundillo"> Curriculum Vitae- Alex - Diseñador y desarrollador web , fundamentos basicos </a>
						</h1>
					</li>
<?php/*
			$links = Link::getAll();
			foreach($links as $fila) {
				echo "<li class='nink'><a href='#".$fila["title"]."' >".$fila["title"]."</a></li>";
			}
				echo "<li class='nink'><a href='#Blog' id='btn_blog'>Blog</a></li>";
						echo "<li class='nink'><a href='#Carrito' >Carrito</a></li>";
			if($_SESSION){
					if ($_SESSION['nivel_usuarios_ID_NIVEL'] === '1'){
						
						echo "<li class='nink'><a href='#Panel' >Panel</a></li>";
					}
					/*if ($_SESSION['nivel_usuarios_ID_NIVEL'] === '2'){
						
					}*//*
				}*/
?>
					<li>
						<div id="red_social">
							<ul>
								<li><button onclick='moverScrollup();'></button></li>
								<li class="red_social"><a href="#" class="texto_indentado" title="Sigueme @alexp_developer">twitter</a></a></li>
								<li class="red_social"><a href="#" class="texto_indentado" title="Ver perfil">linked</a></a></li>
								<li class="dates">Alex Perez</li>
								<li class="dates">+54-11-52620205</li>
								<li class="dates">Buenos Aires - Argentina</li>
								
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</div>



	</header>
	<section id="inicio">
		<article id="header">

			<div class='sub_header'>
				<?php /*
				if(!$_SESSION){
					*/?>
				<button type="button" id="openLogin" >ver login</button>
				<?php /*
				}
					*/?>
				<div class="nst revelde" id="superHeader">
						<p>Buenas...!</p>
						<p> Diseño Aplicaciones y sitios web, si. ...son diferentes!</p>

					<div>
						<button type="button" id="arrow" onclick="moverScroll();">Seguir Leyendo...</button>
						
						<button id="cotizar">
							Solicitar un proyecto
							<span id="flecha_negra" class="flechas">
								<?xml version="1.0" encoding="utf-8"?>
								<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								     width="15px" height="15px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
								<path d="M7.414,27.414L24,10.828V18c0,1.105,0.895,2,2,2s2-0.895,2-2V6c0-0.809-0.486-1.538-1.234-1.848
									C26.518,4.049,26.257,4.001,26,4.001V4H14c-1.105,0-2,0.895-2,2s0.895,2,2,2h7.172L4.586,24.586C4.195,24.977,4,25.488,4,26
									s0.195,1.023,0.586,1.414C5.367,28.195,6.633,28.195,7.414,27.414z"/>
								</svg>
													</span>
													<span id="flecha_blanca" class="flechas">

								<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								     width="15px" height="15px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
								<path fill="#FFFFFF" d="M7.414,27.414L24,10.828V18c0,1.105,0.895,2,2,2s2-0.895,2-2V6c0-0.809-0.486-1.538-1.234-1.848
									C26.518,4.049,26.257,4.001,26,4.001V4H14c-1.105,0-2,0.895-2,2s0.895,2,2,2h7.172L4.586,24.586C4.195,24.977,4,25.488,4,26
									s0.195,1.023,0.586,1.414C5.367,28.195,6.633,28.195,7.414,27.414z"/>
								</svg>
							</span>
						</button>

					</div>
				</div>
				<div id="intro">
			  		<div class="nst">
					<h2>Sitios web</h2>
					<h3>Para el que quiere un blog, o la empresa que quiere ofrecer y fortalezer sus servicios</h3>
					<figure>
						<img src="estilo/img/no-clickable/br.svg" alt="Un sitio web moderno" />
					</figure>
					<p>Osea si tiene una pyme o cree que tiene algo que compartir en la web y quiere un sitio autoadminstrable, que no dependa de marcos que se vuelven un problema debido a actualizaciones o al agregar una nueva funcionalidad. Esta es su oportunidad de tener un sitio moderno y escalable.</p>

					
				  </div>
				</div>
				<div id="intro2">
				  <div class="nst">
				   <h2>Aplicaciones Web</h2>
				   <h3>Esenciales para comunicar y ahorrar tiempo</h3>
					<figure>
						<img src="estilo/img/no-clickable/smartphone(2).svg" alt="" />
					</figure>
					<p>Hay para cada tipo de función o conjunto de funciones que necesitemos hacer para comunicarnos, hacer tareas, y en general para poder trabajar de forma mas productiva por internet y sin el (<small>la mayoria en el celular!</small>). Hay aplicaciones web para casi todo, desde alarmas, hasta editores de texto, o un carrito de compras.</p>
					
				  </div>
				</div>
				<div id="intro3">
				  <div class="nst">
					
					<h2>Marketing Digital</h2>
					<h3>Ya que no tiene sentido una web sin una estrategia comercial. </h3>
					<figure>
						<img src="estilo/img/no-clickable/organization(2).svg" alt="" />
					</figure>
					<p>Con la web 2.0 nace la posibilidad de compartir información fácilmente gracias a las redes sociales y a las nuevas tecnologías de información que permiten el intercambio casi instantáneo de piezas que antes eran imposibles, como videos, gráfica, etc. Se comienza a usar internet no solo como medio para buscar información sino como comunidad, donde hay relaciones constantemente y feedback con los usuarios de diferentes partes del mundo.</p>
								
					
				  </div>	
				</div>	
			</div>
		<!-- <div><button type="button" onclick="moverScroll();"></button></div>
	 */-->
		</article>
	
	</section>
	<article id="habilidades">
		<div id="header-1">
			<div class="nst">
				<h2 ><a href="#habilidades">Las herramientas que tenemos</a></h2>
				<figure>
						<img src="estilo/img/no-clickable/tools.svg" alt="" />
				</figure>
			</div>

			
		</div>	

		<?php
			/*	
					
echo "  <div id='menu-habilidades'>
		    <nav>
				<ul>";
		$hab = Habilidad::getAll();
			foreach($hab as $fila) {
						
			//	var_dump($fila ["nombre"]);
				
				if( "dise&ntilde;o" === $fila ["nombre"]){
				echo "<li>";
					echo"<a  class='kills-active' onclick='return false;'>"; 
						echo"<em>".$fila ["nombre"]."</em>
						</a> 
					</li>";	
				}else{
					echo "<li >";	
						echo "<a  onclick='return false;'>";
							echo "<em>".$fila["nombre"]."</em>
							</a>
					 </li>";	
					
				}
			
		}
	*/
	?>
	
	
				</ul>
			</nav>
		</div> 
		<div id='ficha' >
		    <div id='descripcion'>	
			   <!-- <h3>Sobre :</h3>-->
				<div></div>
			</div>
			<div id='avance'>
				<!--<div id='nivel'>
					<h4>Nivel alcanzado</h4>
					<span></span>
					  <div class="progress" id="progress"></div>
				</div>-->
				
				<div id='herramientas'> 
					<h4>Herramientas utilizadas</h4> 
					<ul> 
						
					</ul>
				</div>
				
							
					
				
			</div>
		</div>
				
	</article>		
	<?php 	
	/*

		//echo "<article id=".$_GET['seccion'].">";
		//include( "secciones/sub/inicio.php" );
	//	include( 'secciones/sub/conoceme.php' );
		//include( 'secciones/sub/habilidades.php' );
		//include( 'secciones/sub/estudios.php' );
		include( 'secciones/sub/info.php' );
		include( 'secciones/sub/contacto.php' );
		
	
		*/
	?>
		<div id="boxBlog" ></div>