
/*             Basico.css                 */

/*if gte IE 9*/
    .gradient {
       filter: none;
    }
 /*[if gte IE 9]*/


/* webkit style scroll Bar */
::-webkit-scrollbar {
    /* width: 6px; */
}
::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px black; */
    /* -webkit-border-radius: 0px; */
    /* border-radius: 0px; */
    /* background: rgb(0, 0, 0); */
}
::-webkit-scrollbar-thumb {
    /* -webkit-border-radius: 0px; */
    /* border-radius: 0px; */
    /* background: #FFFFFF; */
    /* -webkit-box-shadow: inset 0 0 6px #FFFFFF; */
}
/* mozilla sin soporte */


/*    elementos html5   */
	*{
		/* margin:0; */
		/* padding: 10px; */
		/* font-family: ubuntu,"calibri",Arial,"Lucida Grande",sans-serif; */
		/* letter-spacing: normal; */
		/* font-weight: bolder; */
	}
	main{
		/* width: 100%; */
		/* height: 100%; */
		/* position: relative; */
}
	body {
		/* height: 100%; */
		/* font-size: 16px; *//* ie */
		/* background-color: #eee; */
		scrollbar-face-color:#32BEF0;
		scrollbar-track-color:black;
		scrollbar-arrow-color:black;
		scrollbar-shadow-color:#32BEF0;
		scrollbar-dark-shadow-color:#32BEF0;
		/* width: 82%; */
		/* margin: 0px 16% 2%; */
		/* position: relative; */
	}
	html {
	  /* font-size: 62.5%; */
	  /* height: 100%; */
}
	h1{
    /* padding: 10px; */
}
	h2 {
		/* font-size: 2em; */
		color: #CACACA;
		/* box-shadow: 0px 0px 20px #1E2021; */
	}
	h3{
    color: #666666;
}
	h4{
    font-size: 1.2em;
}
	p {
		margin: 0;
		color: #3B4143;
		margin: 0;
		font-size: 1em;
		/* font-family: verdana; */
		font-weight: 100;
		padding: 0;
	}
	a{
		text-decoration: none;
		color: #000000;
		/* padding: 10px; */
	}
	a:visited {}
	a:active {
		color: blue;
	}
	a:focus {
		color: #997575;
		transition: all 500ms;
	}
	a:hover {
		color: #6D6D6D;
		cursor: pointer;
		text-decoration: underline;
	}
	li{
		list-style-type: none;
		/* padding: 10px; */
	}
	article {
	
		margin: 0 auto;
	
}
	span {
		font-size: 1.5vw;
		display: inline-block;
		text-transform: initial;
	}
	strong {
		font-size: 1em;
		font-weight: 700;
	}
	aside{}
	nav{}
	button{
		/* padding: 4%; */
		transition: all ease-in-out 500ms;
		border: none;
		outline: rgba(76, 74, 74, 0);
		cursor: pointer;
		moz-outline-style: no;
	}
	aside{
    /* background: white; */
    width: 256px;
    display: inline-block;
    /* position: absolute; */
    /* right: 0; */
}
	
/*    elementos html5   */


header {
    /* background: black; */
    /* display: inline-block; */
    /* padding: 10px; */
    /* padding-bottom: 0; */
}

div#entradas {
    background: #FFFFFF;
    width: 51%;
    margin: 5px 3px;
    position: relative;
    display: inline-block;
    /* border: 1px solid #CECECE; */
}

div#entradas > ul > li {
    /* background: aquamarine; */
    margin: 1px;
}

header.header_entrada {
    background: rgb(255, 255, 255);
    padding-bottom: 0;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    display: block;
}

body>div#panel {
    width: 24%;
    margin: 6px 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    /* background: rgba(3, 169, 244, 0.25); */
}

div.publicidad {
    margin: 6px 0;
    vertical-align: top;
    display: inline-block;
    /* background: red; */
}

.header_entrada  img {
    background: red;
}

header.header_entrada > div > a > img {
    width: 100%;
    /* border: 2px solid; */
    background: #D0D0D0;
    padding: 0;
}

p.link_perfil {
    display: inline-block;
    /* vertical-align: top; */
    width: 100%;
}

header.header_entrada > div {
}

p.timeStampEntrada {
    display: inline-block;
    color: #949494;
    width: 100%;
    margin: 4px 0px 0px 1px;
    font-size: 1em;
}

.box_img_perfil {
    /* width: 50%; */
    /* display: inline-block; */
    /* width: 12%; */
    /* vertical-align: top; */
}

.box_img_perfil {
    background: #D6D6D6;
    /* height: 0; */
    display: block;
    width: 65%;
    vertical-align: top;
    margin: 0 auto;
    /* border-radius: 50%; */
}

.box_img_perfil > a {
    /* background: #1FA0DA; */
    /* vertical-align: top; */
    /* width: 100%; */
}

.box_link_perfil {
    width: 97%;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 0;
    padding: 9px;
}

.content_entrada > div {
    padding: 0px;
    /* background: rgba(238, 238, 238, 0.37); */
}

.content_entrada > section > p {
    padding: 19px;
    font-size: 18px;
}

.content_entrada {
    padding: 0px;
    background: white;
    /* border: 1px dotted #DCDCDC; */
}

#entradas {}

.content_share {
    /* background: red; */
    border-top: 1px solid #eee;
}

.content_share> ul {
    background: #F7F7F7;
    cursor: default;
}

.content_share> ul > li {
    display: inline-block;
    /* padding: 5px 10px; */
    /* background: #eee; */
    /* padding-top: 5px; */
}

.content_share> ul > li > a {}

.editable {
    /* border: 1px solid #DFDFDF; */
    /* background: rgba(255, 255, 255, 0); */
    height: auto;
    /* position: relative; */
    /* cursor: text; */
    z-index: 1;
}

form.form_me_gusta > input {
    background: url(../img/ico_friends/thumb32.svg) no-repeat;
    background-size: 12%;
    background-position: 7px 0px;
    color: #1FA0DA;
    border: none;
    outline: none;
    padding: 0 10px 0 13px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 200;
    letter-spacing: 0.5px;
    width: 142px;
    height: 16px;
}

form.form_me_gusta > input:hover {
    text-decoration: underline;
}

form.form_comentar > input {
    background: url(../img/ico_friends/speechbubble65.svg) no-repeat;
    background-size: 15px;
    background-position: 7px 0px;
    color: #1FA0DA;
    border: none;
    outline: none;
    padding: 0 10px 0 38px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 100;
    letter-spacing: 0.5px;
    width: 111px;
    height: 16px;
}

form.form_comentar > input:hover {
    text-decoration: underline;
}

.cant_likes> p {
    padding: 0px 10px;
    font-size: 0.8em;
}

.content_comments {
    padding: 20px;
    background: #efefef;
    padding-top: 0;
    cursor: default;
    position: relative;
    /* padding-bottom: 13px; */
    border-radius: 0px 0px 3px 3px;
}

form.form_me_gusta {
    padding: 10px;
}

.box_img_perfil_logueado {
    width: 37px;
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
    padding-right: 0px;
}

.box_img_perfil_logueado > a {}

.box_img_perfil_logueado > a > img {
    width: 100%;
    background: #D0D0D0;
}

.form_mensaje {
    display: inline-block;
    width: 603px;
    height: auto;
    padding-left: 0;
    vertical-align: top;
}

span.text_placeholder {
    color: gray;
    padding-bottom: 5px;
    /* margin: 8px; */
    font-size: 16px;
    font-weight: 200;
    /* resize: vertical; */
    width: 100%;
    /* height: 8px; */
    position: relative;
    outline: none;
    cursor: text;
    border: 1px solid #C9C8C8;
}

.editable:focus {
    /* border: none; */
}

span[text_placeholder] {
    color: red;
}
::-webkit-input-placeholder {
   color: gray;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

span.text_placeholder::after {
    content: "Escribe un comentario...";
    position: absolute;
    color: #D0D0D0;
    top: 0px;
}

#entradas > section {
    border: 1px solid #ECECEC;
    margin: 7px;
    background: #FFFFFF;
    border: 1px solid rgba(214, 214, 214, 0.29);
    margin-bottom: 20px;
    padding-bottom: 7px;
}

p.titulo_entrada > a {
    color: black;
    font-size: 1.4em;
    font-weight: 500;
}

.content_entrada > section > img {
    width: 100%;
    padding: 0px;
    display: block;
    margin: 13px 0;
    /* transition: all ease 200ms; */
}

div#panel > header {
    background: rgb(255, 255, 255);
    margin: 0px;
    /* border: 1px solid #E2E2E2; */
    border-radius: 0px;
}

body>div#panel > header > nav >ul > li > a {
    padding: 10px;
    font-weight: 500;
    font-size: 25px;
}

body>div#panel > header > nav {
    padding: 10px;
}

.content_entrada > section > p:last-of-type {
    /* font-size: 23px; */
    /* line-height: 160%; */
}

li {
    /* padding: 10px; */
    /* margin: 0px; */
}

div.publicidad > aside > nav >ul > li > a {
    padding: 0;
    font-size: 20px;
    font-weight: 100;
    color: #B4B4B4;
}

div.publicidad > aside > nav >ul > li {
    padding: 34px 20px;
    /* font-size: 25px; */
    /* color: #B19191; */
}

.box_img_perfil > a > img {
    width: 100%;
}

div#panel > header > h1 > a {
    text-align: center;
    width: 100%;
    display: block;
    padding: 2% 0;
    font-size: 1.5em;
    font-weight: 100;
    color: rgb(31, 160, 218);
    text-shadow: 1px 3px 6px #C5C5C5;
}

h2 {
    display: block;
}

div#panel > header > aside > h2 {
    color: #16171C;
    padding: 1em 0px;
}

div#panel > header > aside {
    /* background: #279ACE; */
    width: 100%;
    text-align: center;
}

div#panel > header > aside > form > div > input {
    /* color: blue; */
    padding: 0;
    margin: 0;
    width: 81%;
}

div#panel > header > aside > form > div > input[type="submit"] {
    color: #FFFFFF;
    padding: 8px;
    background: #03A9F4;
    font-size: 34px;
    border: none;
    width: 90%;
}

div#panel > header > aside > form > div {
    /* padding: 15px; */
}

div#panel > header > aside > form > div > input[type="email"],div#panel > header > aside > form > div > input[type="password"] {
    padding: 10px;
    font-size: 20px;
    color: #7C2E2E;
    border: 1px solid #D9D9D9;
    width: 83%;
    margin: 5px 0px;
}

p.erro_login {
    background: red;
    color: white;
}

.content_entrada > section:hover {
    /* background: #F3F3F3; */
}

.content_entrada > section > img:hover {
    /* border: 1px solid #1FA0DA; */
    /* transition: all ease 200ms; */
}

.cant_likes {
    padding: 5px 0;
}

.box-form_mensaje {/* position: absolute; */bottom: 0;width: 100%;margin: 0px 1px 10px 0;/* background: #e8b9b9; */}

.box_apodo > p > a {
    /* background: #1FA0DA; */
    color: #1FA0DA;
    font-size: 1em;
    margin: 0 7px;
}

.box_apodo > button {
    background: rgba(236, 236, 236, 0);
    display: inline-block;
    width: 5%;
    padding: 0;
    color: #1d1d1d;
    vertical-align: top;
    position: absolute;
    right: 0px;
    top: 9px;
}

.box_img_perfil_comment > a > img {
    width: 100%;
    background: #FFEB3B;
    height: 100%;
}

.box_img_perfil_comment {
    width: auto;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}

.box_apodo {
    width: 90%;
    display: inline-block;
    vertical-align: top;
}

.box_apodo > p {
    display: inline-block;
    width: 97%;
    font-size: 0.9em;
    padding: 0 0;
    color: #858585;
}

.box_ilike_comment > span {
font-size: 14px;padding: 4px;color: #A5A5A5;font-weight: 400;}

span.ilike {}

.caja.comentario {
    /* padding: 8px; */
    margin-bottom: 0px;
}

.caja.comentario:last-of-type {}

span.ilike > a {
    color: #1FA0DA;
    font-size: 0.8em;
}

span.responder > a {
    color: #1FA0DA;
    font-size: 0.8em;
    text-transform: capitalize;
}

.box_ilike_comment {
    /* padding: 8px 0; */
    padding-left: 64px;
    /* width: 88%; */
    display: inline-block;
    margin: 0px auto !important;
    /* background: red; */
    width: 99%;
}

.editable > input {
    width: 100%;
    /* font-weight: 200; */
    /* padding: 4px; */
    /* border: 1px solid #D8D8D8; */
    /* outline-color: #03A9F4; */
    /* resize: vertical; */
    /* width: 99%; */
    /* overflow: hidden; */
}

.caja.comentario {
    background: #efefef;
    /* box-shadow: 0px 1px 2px rgb(212, 212, 212); */
    /* border: 1px solid rgba(234, 234, 234, 0.96); */
    /* border-bottom: 1px solid rgb(214, 210, 210); */
    /* border-top: 1px solid rgb(236, 236, 236); */
    padding: 10px 0px;
    /* padding-bottom: 0; */
    margin: 10px auto;
    margin-bottom: 0;
    border-radius: 3px;
    width: 100%;
    display: inline-block;
    position: relative;
}

h3.subtitulo {
    color: #3c3b3b;
    padding: 24px 20px;
    font-weight: 400;
    font-size: 22px;
    line-height: 167%;
}

h4.minititulo {
    color: #403F3F;
    padding: 0px 20px;
    font-weight: 400;
    font-size: 15px;
}

.editable > textarea:focus {
    /* width: 200px; */
    height: auto;
    resize: vertical;
    height: auto;
}

.editable >  input[type=text] {
    /* opacity: 0; */
    /* position: absolute; */
    /* left: -2000px; */
    border: none;
    outline: none;
    border-bottom: 1px solid #bdbdbd;
    height: 36px;
    width: 100%;
    padding: 0px;
    margin: 0;
    font-size: 2em;
    background: #efefef;
}




div#boxBlog {
    width: 44%;
    margin: 0 auto;
}

section.boxEntrada {
    /* border-radius: 23px !important; */
    margin: 3px;
    width: 100%;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
}

.box_img_perfil_comment > a {
    width: 38px;
    display: inline-block;
    height: 38px;
}

button.btn-comentar {
    background: #00BCD4;
    padding: 4px 13px;
    margin: 5px 0;
    border-radius: 4px;
    color: white;
}

.box-btn-comentar {
    text-align: right;
    display: block;
    width: 100%;
    /* background: red; */
    margin: 0;
    padding: 0;
}

.editable > input[type="text"]:focus {
    padding: 0;
}

.editable > textarea {
    border: none;
    outline: none;
    border-bottom: 1px solid #bdbdbd;
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 0;
    font-size: 2em;
    background: #efefef;
    height: auto;
    resize: vertical;
    min-height: auto;
}

p.p_editable {
    min-height: 46px;
    margin: 0;
    padding: 0;
}

p.p_editable > input[type="text"] {
    white-space: pre-wrap;
    word-wrap: initial;
    overflow: auto;
}